<%- include("partials/header.ejs") %>

<div class="about-con">
    <h2>About this page</h2>
    <p>I have created this page using node.js, express.js and EJS. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, obcaecati culpa. Quae voluptas provident, quod nihil veritatis veniam, totam doloremque perferendis voluptates earum eos suscipit, itaque commodi labore quasi odio.lorem, Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, unde delectus tenetur eaque, velit sit expedita iusto laborum asperiores incidunt ipsum, deleniti voluptas cupiditate aspernatur fugiat? Neque quos est optio?</p>
</div>

<%- include("partials/footer.ejs") %>